<a class="btn btn-primary" routerLink="/departments/add">Add</a>
<br><br>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of departments; track item.id) {
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.location }}</td>
      <td>
        <!-- <a class="btn btn-sm btn-info me-2" (click)="deptId = item.id!"
          >Details</a
        > -->
        <a class="btn btn-sm btn-info me-2"  routerLink="/departments/details/{{item.id}}"
          >Details</a
        >
        <a class="btn btn-sm btn-danger me-2" (click)="delete(item)">Delete</a>
        <!-- <a class="btn btn-sm btn-warning me-2" (click)="update(item)">Edit</a> -->
        <a class="btn btn-sm btn-warning me-2" routerLink="/departments/edit/{{item.id}}">Edit</a>
      </td>
    </tr>
    }
  </tbody>
</table>

