<!-- <div class="form-group">
  <input
    type="number"
    [(ngModel)]="student.Id"
    name="id"
    class="form-control"
    id="id"
    placeholder="Enter id"
  />
  <br />
</div>
<div class="form-group">
  <input
    type="text"
    [(ngModel)]="student.FullName"
    name="fullName"
    class="form-control"
    id="fullName"
    placeholder="Enter Full Name"
  />
  <br />
</div>
<div class="form-group">
  <input
    type="number"
    [(ngModel)]="student.Age"
    name="age"
    class="form-control"
    id="age"
    placeholder="Enter Age"
  />
  <br />
</div>
<!-- <div class="form-group">
  <input
    type="email"
    [(ngModel)]="student.email"
    name="email"
    class="form-control"
    id="email"
    placeholder="Enter Email"
  />
  <br />
</div>
<div class="form-group">
  <input
    type="number"
    [(ngModel)]="student.departmentId"
    name="departmentId"
    class="form-control"
    id="departmentId"
    placeholder="Enter Department Id"
  />
  <br />
</div> -->
<br />

<button type="submit" class="btn btn-primary" (click)="updateStudent()">Save</button> -->
