
<!-- <table class="table table-striped mx-5 my-5">
   <thead class="table-dark">
     <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
    </tr>
   </thead>
    <tr>
        <td>{{ name }}</td>
        <td>{{ age }}</td>
        <td>{{ address }}</td>
    </tr>

</table> -->

<table class="table table-bordered table-hover my-4">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @for (item of stds; track $index) {
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td><button class="btn btn-danger mx-2" (click)="deleteStd($index)">Delete</button> <button class="btn btn-primary mx-2" (click)="getStd($index)">Detail</button>  <button class="btn btn-primary mx-2" (click)="updateStd($index)">Update</button></td>
        </tr>
    }
    </tbody>
</table>

<div class="container mx-4">
    <input type="number" [(ngModel)]="std.id" placeholder="Id">
<br>
<br>
<input type="text" [(ngModel)]="std.name" placeholder="Name">
<br>
<br>
<input type="number" [(ngModel)]="std.age" placeholder="Age">
<br>
<br>
<button (click)="addStd()">Add</button>
</div>